# Below is a randomly generated mnemonic, you can just copy this file into .env to run the unit tests

MNEMONIC_A=physical west coin next mimic detail trip say slide nature hedgehog lawsuit
WALLET_ADDRESS_A=15mkG9s2UbMikaEgvnd3vgVJKiY2n2DpH5MmrjnCREwsLsnN

MNEMONIC_B=burden trip pass airport nothing crouch flame blood toilet program pause peace
WALLET_ADDRESS_B=15svm89ghWWiqjYWTKGxJyfkzcAL5Jm4HefZx3KFZaaFADrq